* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.home-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url('https://wallpaperaccess.com/full/1583526.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-header {
  font-size: 3.5rem;
}

.home-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(25, 152, 5);
  padding: 5px;
  margin: 10px auto;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 100px;
}

.home-button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(60, 164, 233, 0.4);
  color: rgb(25, 152, 5);
  color: black;
}

/* Quiz Page */

.quiz-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url('https://wallpaperaccess.com/full/1583519.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 425px;
}

.question-wrapper > h3 {
  font-size: 2.5rem;
  margin: 0.5rem;
}

.question {
  margin: 0.8rem;
  padding-bottom: 1rem;
  width: 90%;
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
  border-bottom: 5px white solid;
}

.answers {
  text-align: left;
  padding: 0.9rem;
}

.answers > p {
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

.answers > p:hover {
  color: rgb(43, 128, 0);
  cursor: pointer;
}

.question-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(25, 152, 5);
  padding: 5px;
  margin: 10px auto;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 180px;
}

.question-button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(60, 164, 233, 0.4);
  color: black;
  color: rgb(25, 152, 5);
}

.selected {
  color: rgb(25, 152, 5);
}

.selected-answer:hover {
  color: white !important;
  cursor: default !important;
}

/* Results */
.results-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url('https://i.gyazo.com/8e302f8e85d158a16657835b6a4e6d5e.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.results-wrapper > button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  padding: 5px;
  margin: 10px auto;
  color: black;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 100px;
}

.results-wrapper > button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(60, 164, 233, 0.4);
  color: black;
  color: rgb(25, 152, 5);
}

.results-wrapper > h1 {
  color: black;
}

/* Character */

.char-wrapper {
  font-size: 1.2rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: left;
  margin-top: 10%;
}

.char-wrapper > h3 {
  font-size: 1.8rem;
  color: black;
  margin: 10px auto;
}

.char-wrapper > img {
  max-width: auto;
  max-height: 120px;
  margin: 0.8rem;
}

/* hidden */
.error-message {
  color: red;
}

.hidden {
  display: none;
}

@media (max-width: 800px) {
  .home-header {
    font-size: 2rem;
  }

  .char-wrapper {
    margin-left: 15%;
    font-size: 1rem;
    width: 60%;
  }

  .results-wrapper > button {
    font-size: 1.1rem;
    width: 80px;
    margin: 5px auto;
  }

  .char-wrapper > h3 {
    font-size: 1.2rem;
    margin: 0 auto;
  }

  .char-wrapper > img {
    max-height: 60px;
  }
}
