* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.home-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url('https://wallpaperaccess.com/full/1583526.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-header {
  font-size: 3.5rem;
}

.home-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(25, 152, 5);
  padding: 5px;
  margin: 10px auto;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 100px;
}

.home-button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(60, 164, 233, 0.4);
  color: rgb(25, 152, 5);
  color: black;
}

/* Quiz Page */

.quiz-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url('https://wallpaperaccess.com/full/1583519.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
}

.question-wrapper > h3 {
  font-size: 2.5rem;
  margin: 0.5rem;
}

.question {
  margin: 0.6rem;
  width: 90%;
}

.answers {
  text-align: left;
  padding: 0.9rem;
}

.answers > p {
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

.answers > p:hover {
  color: rgb(43, 128, 0);
  cursor: pointer;
}

.question-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(25, 152, 5);
  padding: 5px;
  margin: 10px auto;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 180px;
}

.question-button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(60, 164, 233, 0.4);
  color: black;
  color: rgb(25, 152, 5);
}

.selected {
  color: rgb(25, 152, 5);
}

.selected-answer:hover {
  color: white !important;
  cursor: default !important;
}

/* Results */
.results-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url('https://i.gyazo.com/3b6c4ec45b033770ae5838160a191110.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.results-wrapper > button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  padding: 5px;
  margin: 10px auto;
  color: black;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 100px;
}

.results-wrapper > button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(60, 164, 233, 0.4);
  color: black;
  color: rgb(25, 152, 5);
}

.results-wrapper > h1 {
  color: black;
}

/* Character */

.char-wrapper {
  font-size: 1.2rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: left;
}

.char-wrapper > h3 {
  font-size: 1.8rem;
  color: black;
  margin: 10px auto;
}

.char-wrapper > img {
  max-width: 100px;
  height: auto;
  margin: 0.8rem;
}

/* hidden */

.error-message {
  color: red;
}

.hidden {
  display: none;
}
